@charset "UTF-8";

:root {
    --cor01: #76BFC5;
    --cor02: #76989B;
    --cor03: #67E4F0;
    --cor04: #314446;
    
}

body{
    background-color: var(--cor01)
}

* {
    font-family: Arial, Helvetica, sans-serif;

    padding: 0px;
    margin: 0px;
}

header {
    background-color: var(--cor04)
}

header > h1 {
    text-align: center;
    padding: 10px;
    color: white;
}

#burguer {
    background-color: #171f20;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#burguer:hover {
    background-color: #67e5f0d2;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    background-color: var(--cor0);
    padding: 10px; 
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    border-top: 2px solid var(--cor02);
}

menu a:hover {
    background-color: var(--cor02);
    font-weight: bold;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}

